html {
  font-size: 24px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.headerText {
  text-align: center;
  width: 100%;
}
.centerText {
  text-align: center;
}
.contact .row {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.captionText {
  position: relative;
  height: 0;
  bottom: 2.5rem;
  z-index: 100;
  color: white;
  text-shadow: 2px 2px 0px black;
  text-align: center;
  width: 100%;
  margin-left: 20px;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  padding: 90px 50px 0 50px;
  min-height: calc(100vh - 90px);
  overflow: auto;
  overflow-x: hidden;
  background-color: #efb678;
}
.fancyZ {
  height: 75px;
  width: 75px;
  background-position: center;
  background-size: contain;
  background-image: url(images/fancyZ.png);
}
.fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shapeHolder {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sidePattern {
  pointer-events: none;
  top: 0%;
  left: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blueSquare {
  position: fixed;
  /* min-width: 30px;
  min-height: 30px;
  max-width: 100px;
  max-height: 100px; */
  transform: translate(-50%, -50%);
  background-color: rgb(16, 73, 135);
}

@media (max-width: 600px) {
  .blueSquare:nth-child(even) {
    display: none;
  }
}
.homeButton {
  position: fixed;
  top: 10px;
  left: 20px;
  height: 45px;
  width: 45px;
  background-image: URL(images/fancyZ.png);
  background-size: contain;
  background-position: center;
}
.blackBar {
  height: 1px;
  background-color: black;
}

.menuBarVisible {
  transform: translateY(70px);
}
.menuBar {
  position: fixed;
  z-index: 10000;
  bottom: 100%;
  left: 90px;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: calc(100% - 90px - 90px);
  background-color: #efb678;
}
.menuDiv {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menuBar a {
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 0.6rem;
}
.menuBar a img {
  max-width: 100%;
  max-height: 45px;
}
@media (max-width: 750px) {
  .menuBar {
    font-size: 0.8rem;
  }
}
@media (max-width: 550px) {
  .menuBar {
    flex-direction: column;
    height: calc(100vh - 70px);
    width: 90px;
    transform: none;
    bottom: 0%;
    left: 100%;
    font-size: 0.5rem;
    justify-content: flex-start;
  }
  .menuBar a {
    margin-top: 20px;
  }
  .menuBarVisible {
    transform: translateX(-100%);
  }
}

/* //home */
.row {
  margin: auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.col {
  min-height: 300px;
  width: 48%;
  min-width: 300px;
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row.flip {
  flex-direction: row-reverse;
}
.col.right {
}
.col.left {
}
.col img {
  width: 100%;
  max-width: 400px;

  /* max-height: 500px; */
  /* max-width: 300px; */
}

@media (max-width: 750px) {
  .row {
    justify-content: center;
    flex-direction: column-reverse !important;
  }
  .col {
    width: 100%;
    justify-content: flex-start;
  }
}

.headshot {
  position: relative;
  z-index: 1000;
  height: 90vmin;
  width: 90vmin;
  max-height: 300px;
  max-width: 300px;
  background-image: url(images/zintisHeadshot.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%;
}
.contentArea {
  position: relative;
  min-height: calc(100vh - 180px);
  padding-bottom: 90px;
}

.blueSquare.textSquare {
  margin: 0 auto;
  position: absolute;
  height: 180px;
  max-height: 180px;
  width: 200px;
  max-width: 200px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(16, 73, 135, 0.5);
}

.home .contentArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 550px) {
  .home .contentArea {
    width: 100vw;
    position: relative;
    left: -50px;
  }
}

#links #menuDiv {
  display: none;
}
#links #homeDiv {
  display: none;
}

#links #menuBar {
  width: 100%;
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#links #menuBar a {
  display: flex;
}
