html {
  font-size: 24px;
}
body {
  margin: 0;
  padding: 0;
  padding: 90px 50px 0 50px;
  min-height: calc(100vh - 90px);
  overflow: auto;
  background-color: #efb678;
}
.fancyZ {
  height: 75px;
  width: 75px;
  background-position: center;
  background-size: contain;
  background-image: url(/images/fancyZ.png);
}
.fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#shapeHolder {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.sidePattern {
  pointer-events: none;
  top: 0%;
  left: 0%;
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.triangle {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  max-width: 100px;
  max-height: 100px;
  transform: translate(-50%, -50%);
  background-color: #104987;
}

@media (max-width: 600px) {
  .triangle:nth-child(even) {
    display: none;
  }
}

.menuBarVisible {
  transform: translateY(70px);
}
.menuBar {
  position: fixed;
  bottom: 100%;
  left: 90px;
  transition: 1s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: calc(100% - 90px - 90px);
  background-color: #efb678;
}
.menuDiv {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.menuBar a {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.menuBar a img {
  max-width: 100%;
  max-height: 30px;
}

@media (max-width: 500px) {
  .menuBar {
    flex-direction: column;
    height: calc(100vh - 70px);
    width: 90px;
    transform: none;
    bottom: 0%;
    left: 100%;
  }
  .menuBarVisible {
    transform: translateX(-100%);
  }
}

/* //home */
.row {
  margin: auto;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.col {
  min-height: 300px;
  width: 48%;
  min-width: 300px;
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row.flip {
  flex-direction: row-reverse;
}
.col.right {
}
.col.left {
}
.col img {
  height: 100%;
  width: 100%;
}

@media (max-width: 750px) {
  .row {
    justify-content: center;
  }
  .col {
    width: 100%;
    justify-content: flex-start;
  }
}
